<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video dan Gambar Referensi</title>
</head>
<body>
    <h1>Upload Video dan Gambar Referensi</h1>
    <form action="/detect-parfum-view" method="post" enctype="multipart/form-data">
        <label for="video">Upload Video:</label>
        <input type="file" name="video" id="video" required><br><br>
        <label for="reference_image">Upload Gambar Referensi:</label>
        <input type="file" name="reference_image" id="reference_image" required><br><br>
        <button type="submit">Proses</button>
    </form>
</body>
</html>